/******* Bootstrap Theming ********/

$primary: #2A4B7C;
$secondary: #202C45;
$light: #f1f3ff;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light": $light,
);

$font-family-base: 'Open Sans', sans-serif;

$body-bg: $light;

$body-color: #666666;

$headings-color: $secondary;

$enable-rounded: false;

$enable-shadows: false;

@import "bootstrap/scss/bootstrap";


/********** Layout Style **********/
.wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
}

.wrapper .sidebar {
    position: relative;
    width: 100%;
    float: left;
    padding: 30px;
    background: #ffffff;
}

.wrapper .sidebar-icon {
    display: none;
}

.wrapper .content {
    position: relative;
    width: 100%;
    padding: 15px;
    float: left;
    background: $light;
}

.wrapper .sidebar,
.wrapper .content {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.wrapper .sidebar-icon {
    margin-right: -18px;
    visibility: hidden;
    height: 0 !important;
}

@media (min-width: 768px) {
    .wrapper .content {
        padding: 30px 0px 30px 30px;
    }
    
    .wrapper .content::before,
    .wrapper .content::after {
        position: fixed;
        content: "";
        width: 100%;
        height: 30px;
        background: $light;
        z-index: 9;
    }
    
    .wrapper .content::before {
        top: 0;
    }
    
    .wrapper .content::after {
        bottom: 0;
    }
    
    .wrapper .sidebar {
        position: fixed;
        width: 350px;
        height: 100%;
        margin-left: -300px;
        float: left;
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: gray;
        z-index: 9;
    }

    .wrapper .sidebar:hover {
        margin-left: 0px;
    }

    .wrapper .sidebar-text {
        display: none;
    }

    .wrapper .sidebar-icon {
        display: flex;
    }
    
    .wrapper .content {
        position: relative;
        width: calc(100% - 50px);
        margin-left: 50px;
        float: right;
    }
    
    .wrapper .sidebar::-webkit-scrollbar {
        width: 7px;
    }

    .wrapper .sidebar::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    }

    .wrapper .sidebar::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
        border-radius: 7px
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    .wrapper .sidebar {
        z-index: 99;
    }
    
    .wrapper .sidebar-text,
    .wrapper .sidebar:hover .sidebar-icon {
        visibility: hidden;
        height: 0 !important;
    }

    .wrapper .sidebar-icon,
    .wrapper .sidebar:hover .sidebar-text {
        visibility: visible;
        height: 100% !important;
    }
}

@media (min-width: 992px) {
    .wrapper .sidebar {
        margin: 0;
    }

    .wrapper .content {
        width: calc(100% - 350px);
        margin-left: 350px;
    }
}

@media (max-width: 1140px) {
    .wrapper .content {
        padding: 30px;
    }
}

@media (max-width: 576px) {
    .wrapper .content {
        padding: 15px;
    }
}


/******** Back to Top CSS *********/
.back-to-top {
    position: fixed;
    display: none;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 1;
    font-size: 30px;
    right: 30px;
    bottom: 30px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    color: $primary;
}

.back-to-top i:hover {
    color: $secondary;
}

.back-to-top {
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}


/********** Custom CSS ************/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

@media (min-width: 768px) {
    .blog-item h3 {
        margin-left: -90px;
    }
}

.skills .progress .progress-bar {
    width: 0;
    transition: 2s;
}

.contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }