{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}   <title> Post </title>   {% endblock title %}

{% block start %}
        
<div class="container py-5 px-2 bg-white">
    <div class="row px-4">
        <div class="col-12">
            <img class="img-fluid mb-4" src="{{posts.image.url}}" alt="Image">
            <h2 class="mb-3 font-weight-bold">{{posts.title}}</h2>
            <div class="d-flex">
                <p class="mr-3 text-muted"><i class="fa fa-calendar-alt"></i> 19-Oct-2022</p>
                <p class="mr-3 text-muted"><i class="fa fa-folder"></i>{{posts.slug}}</p>
                {% for group in groups %}
                    <p class="mr-2 text-muted"><i class="fa fa-comments"></i> {{fname}} <span>({{group.name}})</span></p> 
                {% endfor %}
            </div>

            <p>{{posts.content}}</p>


            
        
        </div>

        <div class="col-12 py-4">
            <div class="btn-group btn-group-lg w-100">
                <button type="button" class="btn btn-outline-primary"><i class="fa fa-angle-left mr-2"></i> Previous</button>
                <button type="button" class="btn btn-outline-primary">Next<i class="fa fa-angle-right ml-2"></i></button>
            </div> 
        </div>

        <div class="col-12 py-4">
            <h3 class="mb-4 font-weight-bold">3 Comments</h3>
            <div class="media mb-4">
                <img src="{% static 'img/user.jpg' %}" alt="Image" class="mr-3 mt-1 rounded-circle" style="width:60px;">
                <div class="media-body">
                    <h4>Gull Khan <small><i>19 Oct 22 at 12:00pm</i></small></h4>
                    <p>Interesting.
                    </p>
                    <button class="btn btn-sm btn-light">Reply</button>
                </div>
            </div>
 
        </div>


        
        <div class="col-12">
            <h3 class="mb-4 font-weight-bold">Leave a comment</h3>
            <form>
                <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="website">Website</label>
                    <input type="url" class="form-control" id="website">
                </div>

                <div class="form-group">
                    <label for="message">Message *</label>
                    <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Leave Comment" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock start %}














