{% extends 'myapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}   <title> Sign Up </title>   {% endblock title %}

{% block start %}
         


    <!-- About Start -->
    <div class="container bg-white pt-5">
        <div class="row px-3 pb-5">
            <div class="col-md-12">

                <h4 class="text-center alert alert-info mt-3 ">Register / Sign up</h4>
                    {% if messages %}
                        {% for message in messages %}
                            <p {% if message.tags %} class='alert alert-{{message.tags}} mb-4' {% endif %}>{{message}}</p>
                        {% endfor %}
                    {% endif %} 

                <form action="" method='POST' novalidate>
                    {% csrf_token %}

                        {{form|crispy}} 

                    <input type="submit" value="Submit" class='btn btn-info'>
                    <a href="{% url 'login' %}" class='btn btn-outline-info'>Login</a>

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger">{{error}}</p>
                        {% endfor %}
                    {% endif %}

                </form>
                
            </div>
        </div>
    </div>
    <!-- About End -->


{% endblock start %}