{% extends 'myapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}   <title> Update Post </title>   {% endblock title %}

{% block start %}
         

<div class="col-sm-12">
    <h3 class="text-success my-5">Dashboard / Update Post</h3>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{form|crispy}}

        <input type="submit" class="btn btn-success btn-sm mb-5" value="Update">
        <a href="{% url 'dashboard' %}" class='btn btn-outline-success btn-sm'>Dashboard</a>

        <br>
        {% if messages %}
            {% for message in messages %}
                <p {% if message.tags %} class='alert alert-{{message.tags}} my-4' {% endif %}>{{message}}</p>
            {% endfor %}
        {% endif %} 


    </form>
   
</div>

{% endblock start %}

